@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 16px;
  }
}
:root {
  --solid-gray: rgba(237, 237, 237, 1);
  --solid-blue: rgba(0, 112, 243, 1);
  --hero-text: linear-gradient(106deg, #00cbbf 14.95%, #0064f9 85.77%);
  --blue-gradient: linear-gradient(90deg, #4576f6 0.06%, #0c49e7 99.93%);
  --sub-text: rgba(97, 97, 97, 1);
  --section-gradient: linear-gradient(283deg, #0073f9 16.37%, #5f36ff 91.66%);
  --solid-green: rgba(117, 221, 121, 1);
  --solid-purple: rgba(212, 157, 255, 1);
  --solid-skyblue: rgb(61, 197, 206, 1);
  --solid-greenish-yellow: rgb(205, 244, 99, 1);
  --solid-yellow: rgba(255, 235, 157, 1);
  

  /* font sizes */
  --text-hero: 62px;
  --text-heading: 38px;
  --text-title: 24px;
  --text-subtitle: 18px;

  /* border radius */
  --hero-rounded: 24px;
  --banner-rounded: 16px;
  --large: 8px;
  --medium: 4px;
}

[data-theme="dark"] {
  --primary-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(23, 23, 23, 1);
  --secondary-color-reverse: rgba(237, 237, 237, 1);
  --tertiary-color: rgba(255, 255, 255, 1);
  --primary-border: rgba(237, 237, 237, 0.1);
  --section-bg: linear-gradient(292deg, rgba(5, 7, 16, 0.85) 16.15%, rgba(19, 21, 32, 0.85) 101.8%);
  --light-secondary: rgba(237, 237, 237, 0.5);
  --green-gradient : linear-gradient(90deg, #75DD79 3.05%, #539456 99.9%);
  --yellow-gradient: linear-gradient(90deg, #FFEB9D 0%, #D8BF5A 100%);
  --parakeet-green-gradient: linear-gradient(91deg, #E0FF8B 0.38%, #92B532 99.55%);
  --teal-gradient: linear-gradient(90deg, #3DC5CE 22.73%, #25A7B0 100%);
  --orange-gradient: linear-gradient(90deg, #FF9292 13.31%, #E86C6C 100%);
  --violet-gradient: linear-gradient(90deg, #8D58FF 15.97%, #6435CA 99.94%);
  --emerald-gradient: linear-gradient(90deg, #7AE3B2 15.58%, #319869 100%);
  --skyblue-gradient: linear-gradient(90deg, #81AFFF 22.08%, #3474E4 96.75%);
  --purple-gradient: linear-gradient(90deg, #BC82E9 0%, rgba(153, 42, 240, 0.99) 100%);
  --light-skyblue: rgba(129, 175, 255, 1);

  --dark-border: rgb(32, 32, 32);
  --light-border: rgba(255, 255, 255, 1);
  --service-text: rgba(161, 161, 161, 1)


}

[data-theme="light"] {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(245, 245, 255, 1);
  --secondary-color-reverse: rgba(23, 23, 23, 1);
  --tertiary-color: rgba(42, 42, 42, 1);
  --primary-border: rgba(0, 0, 0, 0.1);
  --section-bg: rgba(244, 243, 246, 1);
  --green-gradient : linear-gradient(90deg, #75DD79 3.05%, #539456 99.9%);
  --yellow-gradient: linear-gradient(90deg, #FFEB9D 0%, #D8BF5A 100%);
  --parakeet-green-gradient: linear-gradient(91deg, #E0FF8B 0.38%, #92B532 99.55%);
  --teal-gradient: linear-gradient(90deg, #3DC5CE 22.73%, #25A7B0 100%);
  --orange-gradient: linear-gradient(90deg, #FF9292 13.31%, #E86C6C 100%);
  --violet-gradient: linear-gradient(90deg, #8D58FF 15.97%, #6435CA 99.94%);
  --emerald-gradient: linear-gradient(90deg, #7AE3B2 15.58%, #319869 100%);
  --skyblue-gradient: linear-gradient(90deg, #81AFFF 22.08%, #3474E4 96.75%);
  --purple-gradient: linear-gradient(90deg, #BC82E9 0%, rgba(153, 42, 240, 0.99) 100%);
  --light-skyblue: rgba(129, 175, 255, 1);

  






}

@media (max-width: 1024px) {
  :root {
    --text-hero: 58px;
    --text-heading: 34px;
    --text-title: 22px;
  }
}
@media (max-width: 768px) {
  :root {
    --text-hero: 56px;
    --text-heading: 32px;
    --text-title: 20px;
  }
}
@media (max-width: 560px) {
  :root {
    --text-hero: 42px;
    --text-heading: 30px;
    --text-title: 20px;
  }
}

