@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 16px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--tertiary-color);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
  border-radius: 1em;
}
:root {
  --solid-gray: rgba(237, 237, 237, 1);
  --solid-blue: rgba(0, 112, 243, 1);
  --hero-text: linear-gradient(106deg, #00cbbf 14.95%, #0064f9 85.77%);
  --blue-gradient: linear-gradient(90deg, #4576f6 0.06%, #0c49e7 99.93%);
  --sub-text: rgba(97, 97, 97, 1);
  --section-gradient: linear-gradient(283deg, #0073f9 16.37%, #5f36ff 91.66%);
  --solid-green: rgba(117, 221, 121, 1);
  --solid-purple: rgba(212, 157, 255, 1);
  --solid-skyblue: rgb(61, 197, 206, 1);
  --solid-greenish-yellow: rgb(205, 244, 99, 1);
  --solid-yellow: rgba(255, 235, 157, 1);
  --sunset-salmon: rgb(255, 146, 146, 1);
  --solid-danger: rgba(225, 29, 72, 1);
  --dashboard-hero-gradient: linear-gradient(
    97deg,
    #add2ff 6.42%,
    #459aff 94.22%
  );

  --skeleton-color: linear-gradient(
    220deg,
    rgb(241, 241, 241) 0%,
    rgb(218, 218, 218) 50%,
    rgb(248, 248, 248) 100%
  );

  /* font sizes */
  --text-hero: 62px;
  --text-heading: 38px;
  --text-title: 24px;
  --text-subtitle: 18px;

  /* border radius */
  --hero-rounded: 24px;
  --banner-rounded: 16px;
  --large: 8px;
  --medium: 4px;
}

[data-theme="dark"] {
  --primary-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(23, 23, 23, 1);
  --secondary-color-reverse: rgba(237, 237, 237, 1);
  --tertiary-color: rgba(255, 255, 255, 1);
  --primary-border: rgba(237, 237, 237, 0.1);
  --section-bg: linear-gradient(
    292deg,
    rgba(5, 7, 16, 0.85) 16.15%,
    rgba(19, 21, 32, 0.85) 101.8%
  );
  --light-secondary: rgba(237, 237, 237, 0.5);
  --light-secondary-two: rgba(23, 23, 23, 1);
  --green-gradient: linear-gradient(90deg, #75dd79 3.05%, #539456 99.9%);
  --yellow-gradient: linear-gradient(90deg, #ffeb9d 0%, #d8bf5a 100%);
  --parakeet-green-gradient: linear-gradient(
    91deg,
    #e0ff8b 0.38%,
    #92b532 99.55%
  );
  --teal-gradient: linear-gradient(90deg, #3dc5ce 22.73%, #25a7b0 100%);
  --orange-gradient: linear-gradient(90deg, #ff9292 13.31%, #e86c6c 100%);
  --violet-gradient: linear-gradient(90deg, #8d58ff 15.97%, #6435ca 99.94%);
  --emerald-gradient: linear-gradient(90deg, #7ae3b2 15.58%, #319869 100%);
  --skyblue-gradient: linear-gradient(90deg, #81afff 22.08%, #3474e4 96.75%);
  --purple-gradient: linear-gradient(
    90deg,
    #bc82e9 0%,
    rgba(153, 42, 240, 0.99) 100%
  );
  --light-skyblue: rgba(129, 175, 255, 1);

  --skeleton-color: linear-gradient(
    220deg,
    rgb(69, 69, 69) 0%,
    rgb(53, 53, 53) 50%,
    rgb(52, 52, 52) 100%
  );

  --dark-border: rgb(32, 32, 32);
  --light-border: rgba(255, 255, 255, 1);
  --service-text: rgba(161, 161, 161, 1);
  --dashboard-bg: rgba(26, 29, 31, 1);
  --dashboard-bg-two: rgba(17, 19, 21, 1);
  --dashboard-input: rgba(39, 43, 48, 1);
  --dashboard-table: rgba(39, 43, 48, 1);
  --table-border: rgba(60, 66, 70, 1);
  --scroll-bar: rgba(60, 66, 70, 1);
}

[data-theme="light"] {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(245, 245, 255, 1);
  --secondary-color-reverse: rgba(23, 23, 23, 1);
  --light-secondary-two: rgba(245, 245, 255, 1);

  --tertiary-color: rgba(42, 42, 42, 1);
  --primary-border: rgba(0, 0, 0, 0.1);
  --section-bg: rgba(244, 243, 246, 1);
  --green-gradient: linear-gradient(90deg, #75dd79 3.05%, #539456 99.9%);
  --yellow-gradient: linear-gradient(90deg, #ffeb9d 0%, #d8bf5a 100%);
  --parakeet-green-gradient: linear-gradient(
    91deg,
    #e0ff8b 0.38%,
    #92b532 99.55%
  );
  --teal-gradient: linear-gradient(90deg, #3dc5ce 22.73%, #25a7b0 100%);
  --orange-gradient: linear-gradient(90deg, #ff9292 13.31%, #e86c6c 100%);
  --violet-gradient: linear-gradient(90deg, #8d58ff 15.97%, #6435ca 99.94%);
  --emerald-gradient: linear-gradient(90deg, #7ae3b2 15.58%, #319869 100%);
  --skyblue-gradient: linear-gradient(90deg, #81afff 22.08%, #3474e4 96.75%);
  --purple-gradient: linear-gradient(
    90deg,
    #bc82e9 0%,
    rgba(153, 42, 240, 0.99) 100%
  );

  --skeleton-color: linear-gradient(
    220deg,
    rgb(241, 241, 241) 0%,
    rgb(218, 218, 218) 50%,
    rgb(248, 248, 248) 100%
  );

  --light-skyblue: rgba(129, 175, 255, 1);
  --light-border: rgb(32, 32, 32);
  --dashboard-bg: rgba(255, 255, 255, 1);
  --dashboard-bg-two: rgba(244, 244, 244, 1);
  --dashboard-input: rgba(244, 244, 244, 1);
  --dashboard-table: rgba(232, 232, 232, 1);
  --table-border: rgba(60, 66, 70, 0.2);
  --scroll-bar: rgb(169, 170, 171);
}

@media (max-width: 1024px) {
  :root {
    --text-hero: 58px;
    --text-heading: 34px;
    --text-title: 22px;
  }
}
@media (max-width: 768px) {
  :root {
    --text-hero: 56px;
    --text-heading: 32px;
    --text-title: 20px;
  }
}
@media (max-width: 560px) {
  :root {
    --text-hero: 40px;
    --text-heading: 30px;
    --text-title: 20px;
  }
}
